# Flutter platform boilerplate
client/android/** linguist-vendored
client/ios/** linguist-vendored
client/macos/** linguist-vendored
client/windows/** linguist-vendored
client/linux/** linguist-vendored

# Native sources in Flutter client
client/**/*.cmake linguist-vendored
client/**/*.cpp linguist-vendored
client/**/*.cc linguist-vendored
client/**/*.c linguist-vendored
client/**/*.h linguist-vendored
client/**/*.hpp linguist-vendored
client/**/*.kt linguist-vendored
client/**/*.swift linguist-vendored
client/**/*.m linguist-vendored
client/**/*.mm linguist-vendored

# Generated Dart files
client/**/*.g.dart linguist-generated

# Backend env files
server/.env export-ignore
server/.env.* export-ignore
